<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4">
<head>
<meta charset="UTF-8" />
<title>Modify Page</title>
<!-- <link href="../static/css/style.css" th:href="@{/css/style.css}"
	rel="stylesheet" /> -->
	<link
	href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
	rel="stylesheet" media="screen" />
</head>
<body>
	<th:block th:include="/_base"></th:block>
<section class="container">
		<form th:action="@{/login}" method="POST">
			<div class="form-group">
				<input type="text" name="email" class="form-control" placeholder="Your email" />
			</div>
			<div class="form-group">
			<input type="password" name="password" class="form-control" placeholder="Your password" />
			</div>
			<button type="submit" class="btn btn-primary">Login</button>
			<br />
		</form>
</section>
</body>
<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"></script>
<script
	src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"></script>
<script
	src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
</html>