<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4">
<head>
<meta charset="UTF-8" />
<title>Modify Page</title>
<!-- <link href="../static/css/style.css" th:href="@{/css/style.css}"
	rel="stylesheet" /> -->
<link rel="stylesheet" type="text/css"
	href="//cdn.jsdelivr.net/npm/datetimepicker@latest/dist/DateTimePicker.min.css" />
<link href="../style/modifyTodo.css" rel="stylesheet" />
</head>
<body>
	<th:block th:include="/_base"></th:block>
	<section class="container">
		<form th:action="@{/modify}" method="post" th:object="${todo}">
			<input style="display:none" type="text" name="id" th:value="${todo.id}" />
			<div class="form-group">
				<label>Content</label> <input type="text" name="content"
					th:value="${todo.content}" class="form-control" />
			</div>
			<div class="form-group">
				<label>Deadline</label>
				<th:block th:if="${checkData == 0}">
				<input type="text" name="deadlineString" data-field="datetime"
					class="form-control" />
				</th:block>
				<th:block th:unless="${checkData == 0}">
				<input type="text" name="deadlineString"  data-field="datetime"
					th:value="${#dates.format(todo.dealine, 'dd-MM-yyyy HH:mm')}"
					class="form-control" />
				</th:block>
				<div id="dtBox"></div>
			</div>
			<div class="form-group">
				<label>Status</label>
				<div></div>
				<select name="statusId" class="form-control">
					<option>---</option>
					<th:block th:if="${checkData == 0}">
						<option th:each="i : ${listStatus}" th:value="${i.id}"
							th:text="${i.nameStatus}"></option>
					</th:block>
					<th:block th:unless="${checkData == 0}">
						<option th:each="i : ${listStatus}" th:value="${i.id}"
							th:text="${i.nameStatus}" th:selected="${i.id==todo.status.id}"></option>
					</th:block>
				</select>
			</div>
			<input type="submit" style="float: right;margin-left: 5px" class="btn btn-primary" value="Submit"/>
			<a href="/" style="float:right" class="btn btn-danger">Back</a>
			<br />
		</form>
	</section>
</body>
<script>
	$(function() {
		$("#dtBox").DateTimePicker();
	});
</script>
<script
	src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
<script src="https://cdn.jsdelivr.net/momentjs/2.14.1/moment.min.js"></script>
<script type="text/javascript"
	src="//cdn.jsdelivr.net/npm/datetimepicker@latest/dist/DateTimePicker.min.js"></script>
</html>